body {
    font-family: Arial;
    margin: 0;
    background-color: #f0f2f5;
}

header {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    text-align: center;
    padding: 30px;
}

nav {
    background: #333;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #00f2fe;
}

section {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 10px;
}

img {
    border-radius: 50%;
    margin-top: 10px;
}

article {
    background: #f9f9f9;
    padding: 15px;
    margin-top: 15px;
    border-left: 5px solid #4facfe;
    border-radius: 5px;
}

article a {
    color: #4facfe;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid #4facfe;
}
